nav {
  background-color: #A64DFF;
  max-width: 1032px;
}

nav li {
  list-style-type: none;
  display: inline;
}

ul {
  padding: 0 50px;
}

nav ul li a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 31px;
  color: white;
  font-family: Impact, sans-serif;
  padding: 9px 10px;
}

nav ul li a:hover {
  background-color: #EEEEEE;
  color: #A0A7AE;
}