table {
  border-collapse: collapse;
}

td {
  border-bottom: 1px solid #CDCDCC;
  padding: 5px 5px;
}

tr:nth-child(even) td {
  background-color: #DDEBF8;
}

tr td:nth-child(2n+3) {
  background-color: #F2F2DD;
}