nav {
  background-color: #FAFAFA;
  max-width: 360px;
}

nav li {
  list-style-type: none;
  display: inline;
}

nav ul {
  padding: 1px 0 2px 5px;
}

nav ul li a,
span {
  color: #B045D3;
}

nav ul li a {
  font-size: 8px;
  text-decoration: none;
  line-height: 29px;
  padding: 0 7px;
}

span {
  font-size: 9px;
  font-weight: bold;
  position: relative;
  top: 5px;
  padding: 0 5px;
}

.pager-prefix a:before,
.pager-suffix a:after {
  position: relative;
  bottom: 1px;
}

.pager-prefix a:before {
  content: "« ";
}

.pager-suffix a:after {
  content: " »";
}

.prev ~ li a {
  border: 1px solid #E8E8E8;
  border-radius: 20%;
  padding: 5px 7px;
}

.pager-prefix ~ .pager-suffix a {
  border: none;
  padding: 0 0 0 8px;
}

nav ul li a:hover {
  background-color: #A23BD0;
  border-color: #7F17BE;
  color: #EAE0F8;
}

.pager-prefix a:hover,
.pager-suffix a:hover {
  background-color: #FAFAFA;
  color: #B045D3;
}
