div {
  margin: 20px 10px;
}
input {
  display: none;
}
label {
  display: inline-block;
  border-bottom: 2px solid;
  line-height: 18px;
  font-size: 20px;
  font-family: Arial, sans-serif;
  margin: 12px 51px 5px 0;
}
label[for="blue"] {
  margin-right: 43px;
  color: blue;
  border-color: blue;
}
span {
  display: inline-block;
  font-family: Arial, sans-serif;
  font-weight: bold;
  color: white;
  font-size: 19px;
  border-radius: 10px;
  padding: 5px 9px;
  margin: 5px 0;
}
.red {
  background-color: red;
}
.green {
  background-color: green;
}
.blue {
  background-color: blue;
}
label[for="red"] {
  color: red;
  border-color: red;
}
label[for="green"] {
  color: green;
  border-color: green;
}
#red:checked ~ label[for="red"],
#green:checked ~ label[for="green"],
#blue:checked ~ label[for="blue"] {
  opacity: 0.3;
}
#red:checked ~ .red,
#green:checked ~ .green,
#blue:checked ~ .blue {
  display: none;
}


