header {
  background-color: white;
  width: 1007px;
  margin: 20px auto;
  font-family: 'Open Sans', sans-serif;
}

img {
  padding: 17px 0 0 138px;
  width: 200px;
}

nav ul {
  margin: 0;
  padding: 27px 0 0 150px;
}

nav li {
  display: inline-block;
  padding-right: 6px;
}

nav li a {
  display: block;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 10px;
  color: #632D95;
  padding: 0 6px 22px 6px;
  border-bottom: 2px solid white;
}

nav li a:hover {
  border-bottom: 2px solid #3070A8;
}

nav li a:active,
nav li a:focus {
  color: #FF3535;
  border-bottom: 2px solid #3070A8;
}

img, nav {
  float: left;
}

.clear {
  clear: left;
}

.content {
  height: 585px;
  background: url("title-back.jpg") no-repeat;
  background-size: 100% auto;
}

p {
  margin: 0;
  text-align: center;
  color: #FFFFE9;
  line-height: 1.3;
}

.lead-text {
  padding-top: 101px;
  font-size: 30px;
}

.lead-text span {
  text-transform: uppercase;
}

.minor-text {
  font-family: Calibri sans-serif;
  font-style: italic;
  padding-top: 15px;
  font-size: 14px;
}

.btn {
  display: block;
  width: 80px;
  margin: 30px auto;
  border: 1px solid #FFFFE9;
  color: #FFFFE9;
  text-decoration: none;
  text-transform: uppercase;
  padding: 12px 47px;
  font-size: 11px;
}

.btn:hover {
  background-color: gray;
}