@comment-size:10px;
@backgr-comment: white;

body {
  background-color: black;
  text-align: center;
  font-family: Arial, sans-serif;
}

h1 {
  margin: 20px 0 37px 41px;
  text-transform: uppercase;
  letter-spacing: -0.045em;
  color: #3170A8;
  font-size: 30px;
  &:before {
    content: "what";
    color: #E77522;
    padding-right: 10px
  }
}

.container {
  width: 821px;
  margin: 0 auto;
}

.comment-block {
  float: left;
}

.part1 {
  margin-right: 41px;
}

img, .triangle, .comment-box {
  display: inline-block;
}

.triangle {
  width: 1px;
  border: 10px solid;
  border-color: transparent @backgr-comment transparent transparent;
  margin-left: -5px;
  vertical-align: 30px;
}

.comment-box {
  margin-left: -5px;
  background-color: @backgr-comment;
  width: 290px;
  vertical-align: top;
}

.commentator-data {
  margin: 0;
  font-size: @comment-size;
  font-style: italic;
  font-weight: bold;
  color: #7493C1;
  span:first-child {
    float: left;
    padding: 11px 0 0 12px;
  }
  span:last-child {
    float: right;
    padding: 11px 14px 0 0;
  }
}

.comment {
  color: #7F7F93;
  text-align: left;
  margin: 29px 14px 2px 12px;
  padding: 7px 0;
  line-height: 1.5;
  border-top: 1px dotted black;
  font-size: @comment-size;
  letter-spacing: 0.030em;
}

@media (max-width: 1024px) {
  .container {
    width: 441px;
  }

  .triangle {
    visibility:hidden;
  }

  img {
    height: 70px;
  }

  .comment-block {
    margin: 0 0 5px 32px;
  }

  .comment-box {
    margin-left: -15px;
  }
}