.container {
  width: 235px;
  margin: 20px auto;
}

.price-block {
  box-sizing: border-box;
  width: 100%;
  border-radius: 5px;
  text-align: center;
  text-transform: uppercase;
  font-family: "Open Sans", Arial, sans-serif;
}

.header, .post-header {
  font-size: 17px;
  margin: 0;
}

.header {
  font-weight: 600;
  color: white;
}

.post-header {
  padding: 16px 0 0 11px;
  color: black;
}

.price {
  margin: 0;
  font-size: 60px;
  font-weight: 600;
  text-transform: none;
  padding: 7px 0 0 3px;
  color: black;
}

.price sup, .price sub  {
  font-weight: normal;
  position: relative;
}

.price sup {
  font-size: 20px;
  bottom: 9px;
}

.price sub {
  font-size: 14px;
  bottom: 5px;
  right: 5px;
}

.list {
  width: 90%;
  margin: 14px auto;
  padding: 0;
  list-style-type: none;
  text-transform: none;
  font-size: 12px;
  color: #A7ACB4;
  text-align: left;
}

.list li {
  padding: 6px 0 7px 49px;
  background: url("arrow.png") no-repeat 25px 6px;
  border-bottom: 1px solid white
}

.list li:nth-child(2n+1) {
  background-color: #EDF5FD;
}

.list li:nth-child(2n+2) {
  background-color: #F5F5F6;
}

.footer {
  display: block;
  width: 87%;
  padding: 9px 0;
  font-size: 11px;
  text-decoration: none;
  font-weight: bold;
  color: white;
  border-radius: 5px;
}

.block2 {
  border: 2px solid #EE8129;
  box-shadow: 0 0 5px 2px #D3E5F1;
}

.title2 {
  margin: 0;
  padding: 20px 0 20px 7px;
  background-color: #EE8129;
}

.btn2 {
  margin: 0 auto 25px auto;
  background-color: #EE8129;
  box-shadow: 0 3px 0 #B3560B;
}