a {
  color: blue;
  font-weight: bold;
}
span {
  transform: rotate(90deg);
  display: inline-block;
  margin-left: 5px;
  font-weight: bold;
  color: #f70;
}
a[href*="yandex"] {
  color: #f70;
}
a[href*="google"] {
  color: #666;
}