header {
  text-align: right;
  color: orange;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 30px;
}
div {
  margin-bottom: 20px;
}
span {
  font-size: 30px;
  color: red;
  font-weight: bold;
}
i{
  background-color: green;
  color: white;
}
.P1 {
  color: orange;
  font-size: 30px;
}
.P2 {
  color: blue;
  font-size: 30px;
}
ul>li {
  font-weight: bold;
}
ol>li {
  font-weight: normal;
}
.L1>li {
  color: grey;
}
.L2>li {
  color: red;
}
.L3>li {
  color: green;
}
table {
  width: 400px;
  border: 1px solid black;
}
td {
  text-align: center;
  border: 1px solid black;
  font-weight: bold;
}
.Left {
  color: orange;
  text-align: left;
  font-weight: normal;
}
.Left~td {
  background-color: green;
  color: white;
}
