body {
  background-color: white;
}

.container {
  width: 700px;
  margin: 0 auto;
}

h2 {
  text-transform: uppercase;
  margin: 20px 0 46px 28px;
  font-family: arial, sans-serif;
  letter-spacing: -0.060em;
}

.price-block {
  width: 33%;
  border-radius: 5px;
  text-align: center;
  text-transform: uppercase;
  font-family: "Open Sans", Arial, sans-serif;
  float: left;
}

.header, .post-header {
  font-size: 17px;
  margin: 0;
}

.header {
  font-weight: 600;
  color: white;
}

.post-header {
  padding: 16px 0 0 11px;
  color: black;
}

.price {
  margin: 0;
  font-size: 60px;
  font-weight: 600;
  text-transform: none;
  padding: 7px 0 0 3px;
  color: black;
}

.price sup, .price sub  {
  font-weight: normal;
  position: relative;
}

.price sup {
  font-size: 20px;
  bottom: 9px;
}

.price sub {
  font-size: 14px;
  bottom: 5px;
  right: 5px;
}

.list {
  width: 90%;
  margin: 14px auto;
  padding: 0;
  list-style-type: none;
  text-transform: none;
  font-size: 12px;
  color: #A7ACB4;
  text-align: left;
}

.list li {
  padding: 6px 0 7px 49px;
  background: url("arrow.png") no-repeat 25px 6px;
  border-bottom: 1px solid white
}

.list li:nth-child(2n+1) {
  background-color: #EDF5FD;
}

.list li:nth-child(2n+2) {
  background-color: #F5F5F6;
}

.footer {
  display: block;
  width: 87%;
  padding: 9px 0;
  font-size: 11px;
  text-decoration: none;
  font-weight: bold;
  color: white;
  border-radius: 5px;
}

.block1, .block3 {
  margin-top: 9px;
  border: 1px solid #EEEFF1;
}

.block1 {
  border-right: none;
  border-radius: 5px 0 0 5px;
}

.block2 {
  border: 2px solid #EE8129;
  box-shadow: 0 0 5px 2px #D3E5F1;
}

.block3 {
  border-left: none;
  border-radius: 0 5px 5px 0;
}

.title1, .title3 {
  padding: 20px 0 11px 7px;
  position: relative;
}

.title1 {
  background-color: #2BC2D4;
  border-radius: 4px 0 0 0;
}

.title2 {
  margin: 0 -1px 0 -1px;
  padding: 20px 0 20px 7px;
  background-color: #EE8129;
}

.title3 {
  background-color: #00B89A;
  border-radius: 0 4px 0 0;
}

.btn1-3 {
  margin: 0 auto 17px auto;
  background-color: #2F70A8;
  box-shadow: 0 3px 0 #13426B;
}

.btn2 {
  margin: 0 auto 25px auto;
  background-color: #EE8129;
  box-shadow: 0 3px 0 #B3560B;
}